<div class="container">
  <div class="jumbotron">
<h1>uliza forum</h1>
  </div>
</div>
<div class="container">
  <div class="post">
<h3>{{post.question}}<button {{action 'delete' post}}>delete</button></h3>
<p>{{post.content}}</p>
by david mwangi
  </div>

</div>
