<div class="questio">
  {{#link-to 'post' post.id}}<p class="head">{{post.question}}</p>{{/link-to}}
  <p class="small">By  <strong>{{post.author}}</strong><span>comments: 10</span></p>
{{update-post post=post update='update'}}
</div>
