.col-md-8 {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px
}

.col-md-3 {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px
}

.jumbotron {
  text-align: center;
  background-color: #bfbfbf
}

.questio {
  margin-top: 20px;
  border: 2px solid #80ff80;
}

.small {
  font-size: 8;
}

p {
  padding-left: 10px;
  padding-right: 10px;
}

.top {
  margin-top: 20px;
  height: 200px;
  border: 2px solid #80ff80;
}

span {
  float: right;
}

.head {
  padding-left: 30px;
}

body {
  background-color: #f2f2f2;
}

.question {}

.row {}
