<div class="container">
  <div class="jumbotron">
<h1>uliza forum</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3>Top Stories</h3>
      ccccc
      {{#each model as |post|}}
        {{post-tile post=post destroyPost="destroyPost"}}
      {{/each}}
      ccccc
    </div>
    <div class="col-md-3">
      <button type="button" class="btn" name="button">Ask Question ?``</button>
<div class="top">
  {{new-post savePost='savePost'}}

</div>
    </div>
  </div>
</div>
